{:deps {org.clojure/clojure         {:mvn/version "1.11.1"}
        org.scicloj/kindly-advice {:mvn/version "1-alpha7"}
        djblue/portal {:mvn/version "0.51.1"}}
 :aliases {:dev {:extra-deps {scicloj/tablecloth {:mvn/version "7.021"}
                              org.scicloj/kindly {:mvn/version "4-alpha12"}
                              hiccup/hiccup {:mvn/version "2.0.0-RC2"}}}
           :build {:deps {io.github.clojure/tools.build {:mvn/version "0.9.6"}
                          slipset/deps-deploy {:mvn/version "0.2.1"}}
                   :ns-default build}
           ;; Run tests with `clojure -M:test -m cognitect.test-runner`
           :test {:extra-paths ["test"]
                  :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                               io.github.cognitect-labs/test-runner
                               {:git/tag "v0.5.0" :git/sha "48c3c67"}
                               scicloj/tablecloth {:mvn/version "7.021"}}}}}
